@font-face {
    font-display: swap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Georgia.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/Georgia.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Georgia';
    font-style: italic;
    font-weight: normal;
    src: url('../fonts/Georgia.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Georgia.ttf');
}
